*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.main-page{
    margin: 0;
    padding: 0;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 0 20px;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-logo{
    margin: 10px 0;
    padding: 0;
}

.left-nav{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

ul.left-nav{
}

.left-nav li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    display: inline-block;
}

.celebrating{
    /* display: flex; */
}
