*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.main-page{
    margin: 0;
    padding: 0;
}

.main-nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 0 20px;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-logo{
    margin: 10px 0;
    padding: 0;
}

.left-nav{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

ul.left-nav{

}

.left-nav li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    display: inline-block;
}

.celebrating{
    margin: 80px 40px;
    padding: 96px;
    display: flex;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.celebrating h1{
    font-size: 3rem;
    line-height: 1;
}

.celebrating p{
    font-size: 16px;
}

.first-image{
    width: 100%;
}

.second-line{
    display: flex;
}